.bg-search{
  background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-desktop-food-banner-picture-image_1016587.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.bg{
  background-color: rgba(255, 0, 0, 0.329);
}